mixin arrow-svg
  svg(viewBox="0 0 100 100" width="44" height="44")
   line.arrow-svg(x1="45" y1="35" x2="62" y2="51" stroke="purple" stroke-width="4")
   line.arrow-svg(x1="45" y1="65" x2="62" y2="49" stroke="purple" stroke-width="4")
   line.arrow-svg(x1="30" y1="50" x2="60" y2="50" stroke="purple" stroke-width="4")
mixin nav(title, ...items)
  nav.footer__nav
        a.footer__link_header(href="#")= title
          each item in items
            - let str = item.charAt(0).toUpperCase() + item.slice(1)
            a.footer__link(href="#")= str

footer
  .container
    .footer
      .footer__logo
        img.logo
        p.footer__descr.footer__descr_height= "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
      +nav("навигация","о нас","новости","служба поддержки","услуги")
      +nav("о нас","о сервисе","наша команда","вакансии","инвесторы")
      +nav("служба поддержки","соглашения","сообщества","связь с нами")
      nav.footer__nav.footer__nav_justify-content_none
        a.footer__link_header(href="#")= "подписка"
        p.footer__descr.footer__descr_margin_bottom-21= "Получайте специальные предложения и новости сервиса"
        form.footer__form
          input(class="footer__email" type="text" id="email" name="email" placeholder="Email")
          button.footer__btn.footer__btn--inside(type="button")
            +arrow-svg