mixin arrow-svg
  svg(viewBox="0 0 100 100" width="44" height="44")
   line.arrow-svg(x1="45" y1="35" x2="62" y2="51" stroke="purple" stroke-width="4")
   line.arrow-svg(x1="45" y1="65" x2="62" y2="49" stroke="purple" stroke-width="4")
   line.arrow-svg(x1="30" y1="50" x2="60" y2="50" stroke="purple" stroke-width="4")

footer
  .container
    .footer
      .footer__logo
        img.logo
        p.footer__descr= "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
      nav.nav_direction_column
        a.nav__link_header(href="#")= "навигация"
        a.nav__link(href="#")= "о"
          span.nav__link_text-transform_none= " нас"
        a.nav__link(href="#")= "новости"
        a.nav__link(href="#")= "служба"
          span.nav__link_text-transform_none= " поддержки"
        a.nav__link(href="#")= "услуги"
      nav.nav_direction_column
        a.nav__link_header(href="#")= "о нас"
        a.nav__link(href="#")= "о"
          span.nav__link_text-transform_none= " сервисе"
        a.nav__link(href="#")= "наша"
          span.nav__link_text-transform_none= " команда"
        a.nav__link(href="#")= "вакансии"
        a.nav__link(href="#")= "инвесторы"
      nav.nav_direction_column.nav_padding-bottom_35
        a.nav__link_header(href="#")= "служба поддержки"
        a.nav__link(href="#")= "соглашения"
        a.nav__link(href="#")= "сообщества"
        a.nav__link(href="#")= "связь"
          span.nav__link_text-transform_none= " с нами"
      nav.nav_direction_column.nav_justify-content_none
        a.nav__link_header(href="#")= "подписка"
        p.footer__descr= "Получайте специальные предложения и новости сервиса"
        form.footer__form
          input(class="footer__email" type="text" id="email" name="email" placeholder="Email")
          button.footer__btn.footer__btn--inside(type="button")
            +arrow-svg